<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.50onPaletteIM</key>
	<string></string>
	<key>com.apple.CharacterPaletteIM</key>
	<string></string>
	<key>com.apple.PressAndHold</key>
	<string></string>
	<key>com.apple.SyntheticRomanMode</key>
	<string></string>
	<key>com.apple.inputmethod.Ainu</key>
	<string></string>
	<key>com.apple.inputmethod.AinuIM.Ainu</key>
	<string></string>
	<key>com.apple.inputmethod.AssistiveControl</key>
	<string></string>
	<key>com.apple.inputmethod.ChineseHandwriting</key>
	<string></string>
	<key>com.apple.inputmethod.EmojiFunctionRowItem</key>
	<string></string>
	<key>com.apple.inputmethod.HindiIM</key>
	<string></string>
	<key>com.apple.inputmethod.HindiIM.RomanDeva</key>
	<string></string>
	<key>com.apple.inputmethod.Korean</key>
	<string></string>
	<key>com.apple.inputmethod.Korean.2SetKorean</key>
	<string></string>
	<key>com.apple.inputmethod.Korean.390Sebulshik</key>
	<string></string>
	<key>com.apple.inputmethod.Korean.3SetKorean</key>
	<string></string>
	<key>com.apple.inputmethod.Korean.GongjinCheongRomaja</key>
	<string></string>
	<key>com.apple.inputmethod.Korean.HNCRomaja</key>
	<string></string>
	<key>com.apple.inputmethod.Kotoeri.KanaTyping</key>
	<string></string>
	<key>com.apple.inputmethod.Kotoeri.KanaTyping.Japanese</key>
	<string></string>
	<key>com.apple.inputmethod.Kotoeri.KanaTyping.Japanese.FullWidthRoman</key>
	<string></string>
	<key>com.apple.inputmethod.Kotoeri.KanaTyping.Japanese.HalfWidthKana</key>
	<string></string>
	<key>com.apple.inputmethod.Kotoeri.KanaTyping.Japanese.Katakana</key>
	<string></string>
	<key>com.apple.inputmethod.Kotoeri.KanaTyping.Roman</key>
	<string></string>
	<key>com.apple.inputmethod.Kotoeri.RomajiTyping</key>
	<string></string>
	<key>com.apple.inputmethod.Kotoeri.RomajiTyping.Japanese</key>
	<string></string>
	<key>com.apple.inputmethod.Kotoeri.RomajiTyping.Japanese.FullWidthRoman</key>
	<string></string>
	<key>com.apple.inputmethod.Kotoeri.RomajiTyping.Japanese.HalfWidthKana</key>
	<string></string>
	<key>com.apple.inputmethod.Kotoeri.RomajiTyping.Japanese.Katakana</key>
	<string></string>
	<key>com.apple.inputmethod.Kotoeri.RomajiTyping.Roman</key>
	<string></string>
	<key>com.apple.inputmethod.PluginIM</key>
	<string></string>
	<key>com.apple.inputmethod.SCIM</key>
	<string></string>
	<key>com.apple.inputmethod.SCIM.ITABC</key>
	<string></string>
	<key>com.apple.inputmethod.SCIM.Shuangpin</key>
	<string></string>
	<key>com.apple.inputmethod.SCIM.WBH</key>
	<string></string>
	<key>com.apple.inputmethod.SCIM.WBX</key>
	<string></string>
	<key>com.apple.inputmethod.TCIM</key>
	<string></string>
	<key>com.apple.inputmethod.TCIM.Cangjie</key>
	<string></string>
	<key>com.apple.inputmethod.TCIM.Jianyi</key>
	<string></string>
	<key>com.apple.inputmethod.TCIM.Pinyin</key>
	<string></string>
	<key>com.apple.inputmethod.TCIM.Shuangpin</key>
	<string></string>
	<key>com.apple.inputmethod.TCIM.WBH</key>
	<string></string>
	<key>com.apple.inputmethod.TCIM.Zhuyin</key>
	<string></string>
	<key>com.apple.inputmethod.TCIM.ZhuyinEten</key>
	<string></string>
	<key>com.apple.inputmethod.TYIM</key>
	<string></string>
	<key>com.apple.inputmethod.TYIM.Cangjie</key>
	<string></string>
	<key>com.apple.inputmethod.TYIM.Stroke</key>
	<string></string>
	<key>com.apple.inputmethod.TYIM.Sucheng</key>
	<string></string>
	<key>com.apple.inputmethod.Tamil</key>
	<string></string>
	<key>com.apple.inputmethod.Tamil.AnjalIM</key>
	<string></string>
	<key>com.apple.inputmethod.Tamil.Tamil99</key>
	<string></string>
	<key>com.apple.inputmethod.VietnameseIM</key>
	<string></string>
	<key>com.apple.inputmethod.VietnameseIM.VietnameseSimpleTelex</key>
	<string></string>
	<key>com.apple.inputmethod.VietnameseIM.VietnameseTelex</key>
	<string></string>
	<key>com.apple.inputmethod.VietnameseIM.VietnameseVIQR</key>
	<string></string>
	<key>com.apple.inputmethod.VietnameseIM.VietnameseVNI</key>
	<string></string>
	<key>com.apple.inputmethod.ironwood</key>
	<string></string>
	<key>com.apple.keylayout.2SetHangul</key>
	<string></string>
	<key>com.apple.keylayout.390Hangul</key>
	<string></string>
	<key>com.apple.keylayout.3SetHangul</key>
	<string></string>
	<key>com.apple.keylayout.ABC</key>
	<string></string>
	<key>com.apple.keylayout.ABC-AZERTY</key>
	<string></string>
	<key>com.apple.keylayout.ABC-India</key>
	<string></string>
	<key>com.apple.keylayout.ABC-QWERTZ</key>
	<string></string>
	<key>com.apple.keylayout.Adlam-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.AfghanDari</key>
	<string></string>
	<key>com.apple.keylayout.AfghanPashto</key>
	<string></string>
	<key>com.apple.keylayout.AfghanUzbek</key>
	<string></string>
	<key>com.apple.keylayout.Albanian</key>
	<string></string>
	<key>com.apple.keylayout.Anjal</key>
	<string></string>
	<key>com.apple.keylayout.Arabic</key>
	<string></string>
	<key>com.apple.keylayout.Arabic-AZERTY</key>
	<string></string>
	<key>com.apple.keylayout.Arabic-NorthAfrica</key>
	<string></string>
	<key>com.apple.keylayout.Arabic-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.ArabicPC</key>
	<string></string>
	<key>com.apple.keylayout.Armenian-HMQWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Armenian-WesternQWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Assamese</key>
	<string></string>
	<key>com.apple.keylayout.Australian</key>
	<string></string>
	<key>com.apple.keylayout.Austrian</key>
	<string></string>
	<key>com.apple.keylayout.Azeri</key>
	<string></string>
	<key>com.apple.keylayout.Bangla</key>
	<string></string>
	<key>com.apple.keylayout.Bangla-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Belgian</key>
	<string></string>
	<key>com.apple.keylayout.Bodo</key>
	<string></string>
	<key>com.apple.keylayout.Brazilian</key>
	<string></string>
	<key>com.apple.keylayout.Brazilian-ABNT2</key>
	<string></string>
	<key>com.apple.keylayout.Brazilian-Pro</key>
	<string></string>
	<key>com.apple.keylayout.British</key>
	<string></string>
	<key>com.apple.keylayout.British-PC</key>
	<string></string>
	<key>com.apple.keylayout.Bulgarian</key>
	<string></string>
	<key>com.apple.keylayout.Bulgarian-Phonetic</key>
	<string></string>
	<key>com.apple.keylayout.Byelorussian</key>
	<string></string>
	<key>com.apple.keylayout.Canadian</key>
	<string></string>
	<key>com.apple.keylayout.Canadian-CSA</key>
	<string></string>
	<key>com.apple.keylayout.CanadianFrench-PC</key>
	<string></string>
	<key>com.apple.keylayout.CangjieKeyboard</key>
	<string></string>
	<key>com.apple.keylayout.Cherokee-Nation</key>
	<string></string>
	<key>com.apple.keylayout.Cherokee-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Colemak</key>
	<string></string>
	<key>com.apple.keylayout.Croatian</key>
	<string></string>
	<key>com.apple.keylayout.Croatian-PC</key>
	<string></string>
	<key>com.apple.keylayout.Czech</key>
	<string></string>
	<key>com.apple.keylayout.Czech-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.DVORAK-QWERTYCMD</key>
	<string></string>
	<key>com.apple.keylayout.Danish</key>
	<string></string>
	<key>com.apple.keylayout.Devanagari</key>
	<string></string>
	<key>com.apple.keylayout.Devanagari-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Dhivehi-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Dogri</key>
	<string></string>
	<key>com.apple.keylayout.Dutch</key>
	<string></string>
	<key>com.apple.keylayout.Dvorak</key>
	<string></string>
	<key>com.apple.keylayout.Dvorak-Left</key>
	<string></string>
	<key>com.apple.keylayout.Dvorak-Right</key>
	<string></string>
	<key>com.apple.keylayout.Estonian</key>
	<string></string>
	<key>com.apple.keylayout.Faroese</key>
	<string></string>
	<key>com.apple.keylayout.Finnish</key>
	<string></string>
	<key>com.apple.keylayout.FinnishExtended</key>
	<string></string>
	<key>com.apple.keylayout.FinnishSami-PC</key>
	<string></string>
	<key>com.apple.keylayout.French</key>
	<string></string>
	<key>com.apple.keylayout.French-PC</key>
	<string></string>
	<key>com.apple.keylayout.French-numerical</key>
	<string></string>
	<key>com.apple.keylayout.GJCRomaja</key>
	<string></string>
	<key>com.apple.keylayout.Geez-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Georgian-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.German</key>
	<string></string>
	<key>com.apple.keylayout.German-DIN-2137</key>
	<string></string>
	<key>com.apple.keylayout.Greek</key>
	<string></string>
	<key>com.apple.keylayout.GreekPolytonic</key>
	<string></string>
	<key>com.apple.keylayout.Gujarati</key>
	<string></string>
	<key>com.apple.keylayout.Gujarati-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Gurmukhi</key>
	<string></string>
	<key>com.apple.keylayout.Gurmukhi-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.HNCRomaja</key>
	<string></string>
	<key>com.apple.keylayout.Hanifi-Rohingya-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Hawaiian</key>
	<string></string>
	<key>com.apple.keylayout.Hebrew</key>
	<string></string>
	<key>com.apple.keylayout.Hebrew-PC</key>
	<string></string>
	<key>com.apple.keylayout.Hebrew-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Hungarian</key>
	<string></string>
	<key>com.apple.keylayout.Hungarian-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Icelandic</key>
	<string></string>
	<key>com.apple.keylayout.Igbo</key>
	<string></string>
	<key>com.apple.keylayout.Inuktitut-Nunavut</key>
	<string></string>
	<key>com.apple.keylayout.Inuktitut-Nutaaq</key>
	<string></string>
	<key>com.apple.keylayout.Inuktitut-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.InuttitutNunavik</key>
	<string></string>
	<key>com.apple.keylayout.Irish</key>
	<string></string>
	<key>com.apple.keylayout.IrishExtended</key>
	<string></string>
	<key>com.apple.keylayout.Italian</key>
	<string></string>
	<key>com.apple.keylayout.Italian-Pro</key>
	<string></string>
	<key>com.apple.keylayout.Jawi-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.KANA</key>
	<string></string>
	<key>com.apple.keylayout.Kannada</key>
	<string></string>
	<key>com.apple.keylayout.Kannada-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Kashmiri-Devanagari</key>
	<string></string>
	<key>com.apple.keylayout.Kazakh</key>
	<string></string>
	<key>com.apple.keylayout.Khmer</key>
	<string></string>
	<key>com.apple.keylayout.Konkani</key>
	<string></string>
	<key>com.apple.keylayout.Kurdish-Kurmanji</key>
	<string></string>
	<key>com.apple.keylayout.Kurdish-Sorani</key>
	<string></string>
	<key>com.apple.keylayout.Kyrgyz-Cyrillic</key>
	<string></string>
	<key>com.apple.keylayout.Lao</key>
	<string></string>
	<key>com.apple.keylayout.LatinAmerican</key>
	<string></string>
	<key>com.apple.keylayout.Latvian</key>
	<string></string>
	<key>com.apple.keylayout.Lithuanian</key>
	<string></string>
	<key>com.apple.keylayout.Macedonian</key>
	<string></string>
	<key>com.apple.keylayout.Maithili</key>
	<string></string>
	<key>com.apple.keylayout.Malayalam</key>
	<string></string>
	<key>com.apple.keylayout.Malayalam-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Maltese</key>
	<string></string>
	<key>com.apple.keylayout.Manipuri-Bengali</key>
	<string></string>
	<key>com.apple.keylayout.Manipuri-MeeteiMayek</key>
	<string></string>
	<key>com.apple.keylayout.Maori</key>
	<string></string>
	<key>com.apple.keylayout.Marathi</key>
	<string></string>
	<key>com.apple.keylayout.Mongolian-Cyrillic</key>
	<string></string>
	<key>com.apple.keylayout.Myanmar</key>
	<string></string>
	<key>com.apple.keylayout.Myanmar-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Navajo</key>
	<string></string>
	<key>com.apple.keylayout.Nepali</key>
	<string></string>
	<key>com.apple.keylayout.Nepali-IS16350</key>
	<string></string>
	<key>com.apple.keylayout.NorthernSami</key>
	<string></string>
	<key>com.apple.keylayout.Norwegian</key>
	<string></string>
	<key>com.apple.keylayout.NorwegianExtended</key>
	<string></string>
	<key>com.apple.keylayout.NorwegianSami-PC</key>
	<string></string>
	<key>com.apple.keylayout.Oriya</key>
	<string></string>
	<key>com.apple.keylayout.Oriya-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Persian</key>
	<string></string>
	<key>com.apple.keylayout.Persian-ISIRI2901</key>
	<string></string>
	<key>com.apple.keylayout.Persian-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.PinyinKeyboard</key>
	<string></string>
	<key>com.apple.keylayout.Polish</key>
	<string></string>
	<key>com.apple.keylayout.PolishPro</key>
	<string></string>
	<key>com.apple.keylayout.Portuguese</key>
	<string></string>
	<key>com.apple.keylayout.Romanian</key>
	<string></string>
	<key>com.apple.keylayout.Romanian-Standard</key>
	<string></string>
	<key>com.apple.keylayout.Russian</key>
	<string>ru</string>
	<key>com.apple.keylayout.Russian-Phonetic</key>
	<string>ru</string>
	<key>com.apple.keylayout.RussianWin</key>
	<string>ru</string>
	<key>com.apple.keylayout.Sami-PC</key>
	<string></string>
	<key>com.apple.keylayout.Sanskrit</key>
	<string></string>
	<key>com.apple.keylayout.Santali-Devanagari</key>
	<string></string>
	<key>com.apple.keylayout.Santali-OlChiki</key>
	<string></string>
	<key>com.apple.keylayout.Serbian</key>
	<string></string>
	<key>com.apple.keylayout.Serbian-Latin</key>
	<string></string>
	<key>com.apple.keylayout.Sindhi</key>
	<string></string>
	<key>com.apple.keylayout.Sindhi-Devanagari</key>
	<string></string>
	<key>com.apple.keylayout.Sinhala</key>
	<string></string>
	<key>com.apple.keylayout.Sinhala-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Slovak</key>
	<string></string>
	<key>com.apple.keylayout.Slovak-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Slovenian</key>
	<string></string>
	<key>com.apple.keylayout.Spanish</key>
	<string></string>
	<key>com.apple.keylayout.Spanish-ISO</key>
	<string></string>
	<key>com.apple.keylayout.Swedish</key>
	<string></string>
	<key>com.apple.keylayout.Swedish-Pro</key>
	<string></string>
	<key>com.apple.keylayout.SwedishSami-PC</key>
	<string></string>
	<key>com.apple.keylayout.SwissFrench</key>
	<string></string>
	<key>com.apple.keylayout.SwissGerman</key>
	<string></string>
	<key>com.apple.keylayout.Syriac-Arabic</key>
	<string></string>
	<key>com.apple.keylayout.Syriac-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Tajik-Cyrillic</key>
	<string></string>
	<key>com.apple.keylayout.Tamil99</key>
	<string></string>
	<key>com.apple.keylayout.Telugu</key>
	<string></string>
	<key>com.apple.keylayout.Telugu-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Thai</key>
	<string></string>
	<key>com.apple.keylayout.Thai-PattaChote</key>
	<string></string>
	<key>com.apple.keylayout.Tibetan-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Tibetan-Wylie</key>
	<string></string>
	<key>com.apple.keylayout.TibetanOtaniUS</key>
	<string></string>
	<key>com.apple.keylayout.Tongan</key>
	<string></string>
	<key>com.apple.keylayout.TraditionalPinyinKeyboard</key>
	<string></string>
	<key>com.apple.keylayout.TraditionalWubihuaKeyboard</key>
	<string></string>
	<key>com.apple.keylayout.Turkish</key>
	<string></string>
	<key>com.apple.keylayout.Turkish-QWERTY</key>
	<string></string>
	<key>com.apple.keylayout.Turkish-QWERTY-PC</key>
	<string></string>
	<key>com.apple.keylayout.Turkish-Standard</key>
	<string></string>
	<key>com.apple.keylayout.Turkmen</key>
	<string></string>
	<key>com.apple.keylayout.US</key>
	<string>en-us</string>
	<key>com.apple.keylayout.USExtended</key>
	<string>en-us</string>
	<key>com.apple.keylayout.USInternational-PC</key>
	<string>en-us</string>
	<key>com.apple.keylayout.Ukrainian</key>
	<string>ua</string>
	<key>com.apple.keylayout.Ukrainian-PC</key>
	<string>ua</string>
	<key>com.apple.keylayout.Ukrainian-QWERTY</key>
	<string>ua</string>
	<key>com.apple.keylayout.UnicodeHexInput</key>
	<string></string>
	<key>com.apple.keylayout.Urdu</key>
	<string></string>
	<key>com.apple.keylayout.Uyghur</key>
	<string></string>
	<key>com.apple.keylayout.Uzbek-Cyrillic</key>
	<string></string>
	<key>com.apple.keylayout.Vietnamese</key>
	<string></string>
	<key>com.apple.keylayout.Welsh</key>
	<string></string>
	<key>com.apple.keylayout.WubihuaKeyboard</key>
	<string></string>
	<key>com.apple.keylayout.ZhuyinBopomofo</key>
	<string></string>
	<key>com.apple.keylayout.ZhuyinEten</key>
	<string></string>
</dict>
</plist>
